<%= form_for :consumer, url: @freport_form_url, method: @freport_form_method do |f| %>
    <div class="form-group">
        <%= f.label :name, 'Название' %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <script type="text/javascript">
        $(function () { $('.selectpicker').selectpicker(); });
    </script>
    <div class="form-group">
        <%= f.label :municipality_id, 'Муниципальный округ' %><br />
        <%= f.select :municipality_id, Municipality.all.collect{|p| [p.name, p.id]}.prepend(['Не указан', 0, '']), {}, class: "custom-select",
        "data-width" =>"100%" %>
    </div>

    <div>
        <%= f.submit "Сохранить", :class => "btn btn-sm btn-success" %>
    </div>
<% end %>