<div class="container-fluid mt-4">
    <div class="flex-row">

<!--
        <div class="col-12">
            <select class="selectpicker" data-live-search="true" data-none-results-text="Ничего не найдено">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Barbecue</option>
            </select>
        </div>
-->
        <div class="col-12">

            <% Interaction.import_files %>

            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Владелец сервиса</th>
                        <th>Наименование сервиса</th>
                        <th>SID</th>
                        <th>Потребитель сервиса</th>
                        <th>Дата</th>
                        <th>Количество обращений</th>
                        <th>Количество ответов</th>
                        <th>Сертификат</th>
                        <th>Операция</th>
                        <th>Статус</th>
                        <th>Регион</th>
                        <th>Наименование региона</th>
                    </tr>
                </thead>
            <tbody>
            <% @interactions.each do |row| %>
                <tr>
                    <td><%= row.owner.name %></td>
                    <td><%= row.serv_name %></td>
                    <td><%= row.serv_sid %></td>
                    <td><%= row.consumer.name %></td>
                    <td><%= row.serv_date.strftime('%d.%m.%Y') %></td>
                    <td><%= row.request_count %></td>
                    <td><%= row.response_count %></td>
                    <td><%= row.certificate %></td>
                    <td><%= row.operation %></td>
                    <td><%= row.status %></td>
                    <td><%= row.region %></td>
                    <td><%= row.region_name %></td>
                </tr>
            <% end %>
            </tbody>
            <table>
        </div>
    </div>
</div>