<div class="container-fluid mt-4">
    <div class="flex-row">
        <div class="col-12">
            <h1>Отчет по обращениям</h1>
        </div>

        <% Interaction.import_files %>

        <div class="col-12 mt-4 mb-4">
            <div class="card">
                <div class="card-header">
                        <%= form_tag interaction_report_path, :method => 'get' do %>
                            <%= select_tag :q, options_from_collection_for_select(Owner.all, :id, :name, @selected_opt), class: "custom-select col-10", include_blank: 'Все' %>
                            <%= submit_tag "Показать", :name => nil, :class => "btn btn btn-primary col-1", style: "float:right;" %>
                        <% end %>
                </div>
            </div>
        </div>

        <div class="col-12">
            <%= column_chart @result,
                adapter: 'highcharts',
                height: "400px",
                label: "Кол-во запросов: ",
                messages: {empty: "No data"},
                library:{
                    tooltip:{
                        shared: true,
                        useHTML: true,
                        headerFormat: '<div class="report-tooltip-header">{point.key}</div>',
                    }
                }
            %>
        </div>

        <div class="col-12 mt-4">
            <% if @result && @result.count > 0 %>
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr><th>№</th><th>Муниципальный округ</th><th>Кол-во запросов</th></tr>
                    </thead>
                    <tbody>
                        <% @result.each_with_index do |one_result, idx| %>
                            <tr>
                                <td class="table-n-cell"><%= idx + 1 %></td>
                                <td><%= one_result[0] %></td>
                                <td><%= one_result[1] %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% else %>
                <p><h5 class="emptyData">Данные отсутствуют</h5></p>
            <% end %>
        </div>
    </div>
</div>

